.typing-1,
.typing-2 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #333;
  animation:
    typing 6s steps(30, end) infinite alternate,
    blink 0.75s ease-in-out infinite;
  width: fit-content;
  max-width: 0;
}

.typing-1 {
  animation-duration: 6s, 0.75s;
  animation-timing-function: steps(25, end), ease-in-out;
}

.typing-2 {
  animation-duration: 10s, 0.75s;
  animation-timing-function: steps(40, end), ease-in-out;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}


@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}